@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px){
    body{
        background-image: linear-gradient(to bottom, #1919b6, #5d5dc5, #afafe6, white);
    }
   section{
    width: 80vw;
   }
   #img1{
    float: left;
    width: 30%;
    height: 100%;
   }
   #formulario{
    float: right;
    width: 70%;
   }
   #formulario > p{
    font-size: 1em;
   }
   fieldset{
    margin-left: 10px;
   }
}

@media screen and (min-width: 992px) {
    body{
        background-image: linear-gradient(to bottom, #1919b6, #5d5dc5, #afafe6, white);
    }
    section{
        width: 990px;
    }
    #img1{
        float: right;
        width: 50%;
        height: 100%;

    }
    #formulario{
        float: left;
        width: 50%
    }
    #formulario > p{
        font-size: 1.2em;
    }
    fieldset{
        margin-right: 10px;
    }
}

